[project]
name = "backend"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.14"
dependencies = [
    "fastapi[standard]>=0.128.0",
    "openai>=2.14.0",
    "python-jose[cryptography]>=3.5.0",
    "supabase>=2.27.0",
]
